
@media (max-width: 767px){
    body::before{
        background-image: url("../imagens/fundoinicio.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
    }
}


main{
    padding: 0 5px;
    justify-content: start;
}
